.body {
    font-family: Arial, "微软雅黑";
}

.gameMap {
    /* width: 300px;
    height: 300px; */
    padding: -1;
    margin: 0;
    padding-left: 24px;
}

.row {
    height: 31px;
}

.cell {
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 1px solid black;
}

.gameMap img {
    height: 30px;
    width: 30x;
    display: flex;
    justify-content: center;
}

.info {
    margin: 10px auto;
    font-size: 15px;
    padding-left: 24px;
}

.info button {
    position: relative;
    margin: auto;
}

.info .time-text {
    position: relative;
    margin: 0 auto;
}

.info .time {
    position: relative;
    margin: 0 auto;
}

#buttonRestart {
    padding-bottom: 20px;
}

.result {
    position: absolute;
    left: 0;
    top: 0;
    height: 311px;
    width: 320px;
    margin: 8px;
    z-index: 10px;
    padding-left: 24px;
}

.result div {
    position: absolute;
    left: 60px;
    top: 120px;
    height: 50px;
    width: 200px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
}

.result input {
    position: absolute;
    height: 20px;
    width: 80px;
    left: 60px;
    bottom: 3px;
}

ul {
    padding: 10px;
    list-style: none;
}
ul li {
    line-height: 24px;
    /* vertical-align: middle; */
    padding-bottom: 12px;
}
ul img {
    height: 24px;
    width: 24px;
    vertical-align: middle;
    padding-right: 10px;
}

.rule {
    margin: 0 auto;
    font-size: 14px;
    padding-left: 24px;
}
