/* @import url(header.css); */

:root {
    --ifm-global-spacing: 1rem;
    --ifm-spacing-horizontal: var(--ifm-global-spacing);
    --ifm-heading-vertical-rhythm-bottom: 1;
    --ifm-leading-desktop: 1.25;
    --ifm-leading: calc(var(--ifm-leading-desktop)*1rem);
    --ifm-font-size-base: 100%;
    --ifm-line-height-base: 1.65;
    --ifm-font-family-base: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    /* 
    这部分实在不想一个个去找了，就直接把它的CSS给扒过来了
    其他地方的CSS我就自己写了一下
    */
}


:root {
    --link-decoration: none;
    --link-hover-color: #2972b7;
    --color-white: #fff;

    --heading-color: inherit;
    --heading-font-family: var(--ifm-font-family-base);
    --heading-font-weight: var(--font-weight-bold);
    --heading-line-height: 1.25;
    --heading-margin-top: 0;
    --heading-margin-bottom: 1rem;
}

* {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    background-color: var(--ifm-background-color);
    color: var(--ifm-font-color-base);
    color-scheme: var(--ifm-color-scheme);
    font: var(--ifm-font-size-base)/var(--ifm-line-height-base) var(--ifm-font-family-base);
}

.row .col {
  padding: 0 var(--ifm-spacing-horizontal);
  width: 100%;
}

img {
  max-width: 100%;
}
.markdown > h2,
.markdown > h3,
.markdown > h4,
.markdown > h5,
.markdown > h6 {
  margin-bottom: calc(
    var(--ifm-heading-vertical-rhythm-bottom) * var(--ifm-leading)
  );
}
.markdown li,
body {
  word-wrap: break-word;
}
body,
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

body {
    height: 100%;
}

pre,
table {
  overflow: auto;
}

a {
    text-decoration: var(--link-decoration);
    transition: color var(--transition-fast) var(--transition-timing-default);
}

a:hover {
    color: var(--link-hover-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    line-height: var(--heading-line-height);
    margin: var(--heading-margin-top) 0 var(--heading-margin-bottom) 0;
}

#mainPage {
    display: flex;
    flex-direction: column;
    min-height: 100%;

}

:root {

    --global-spacing: 1rem;
    --color-primary: #00b3ff;
    --spacing-horizontal: var(--global-spacing);
    --spacing-vertical: var(--global-spacing);
    --color-gray-500: #bec3c9;

    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

:root {
    --nav-top-border-color: rgba(78,202,255,0.3);
    --nav-top-background-color: #000; 
    --nav-top-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    --nav-top-height: 3.375rem;

    --nav-top-z-index-fixed: 4;

    --nav-item-color-1: #fff;

    --nav-link-hover-color: #00b3ff;

    --nav-line-color: #fff;

    --nav-padding-vertical :calc(var(--spacing-vertical)*0.5);
    --nav-padding-horizontal: var(--spacing-horizontal);

    --nav-item-padding-vertical: 0.25rem;
    --nav-item-padding-horizontal: 0.75rem;


    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-semibold: 500;
    --font-weight-bold: 700;

    --nav-search-input-background-color: hsla(0,0%,100%,.24);
    --nav-search-input-icon: url(https://lf3-static.bytednsdoc.com/obj/eden-cn/aphqeh7uhohpquloj/modern-js/search-icon.png);
    --nav-search-input-color: #fff;

    --color-emphasis-500: var(--color-gray-500);

    --transition-fast: 200ms;
    --transition-timing-default: cubic-bezier(0.08,0.52,0.52,1);

    --color-gray-500: #bec3c9;
}

.homepage {
    background-color: #000;
    background-image: url(https://lf3-static.bytednsdoc.com/obj/eden-cn/aphqeh7uhohpquloj/modern-js/main-bg.png);
    background-position: center 900px;
    background-repeat: no-repeat;
    padding: 1px 0;
}

.pan-circle {
    /* animation: 50s linear infinite a; */
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-play-state: running;
    animation-name: spin-back;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

@keyframes spin-back {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(1turn)
    }
}

.num-one-zero {
    font-family: Impact;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    left: 50%;
    line-height: 29px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}

.list-feature {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-top: 25px;
}

.list-card {
    background-color: hsla(0, 0%, 100%, 0.1);
    border: 1px solid hsla(0, 0%, 100%, 0.2);
    border-radius: 8px;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 32%;
    height: 135px;
    margin-left: 16px;
    margin-bottom: 16px;
    max-width: 32%;
    padding: 0 35.4px;
    transition: 0.3s;
    align-items: center;
    cursor: pointer;
    /* line-height: 28.8; */
}

.list-card:hover {
    background: rgba(78,202,255,.2);
    transition: 0.3s;
}

.icon-card {
    fill: #fff;
    flex: 0 0 48px;
    height: 48px;
    width: 48px;
}

.descri-card {
    color: #fff;
    display: inline-block;
    margin-left: 20px;
    line-height: 28.8px;
}