@import url(index.css);
@import url(header.css);
@import url(introduction.css);
@import url(main-feature-MWA.css);
@import url(main-feature-practice.css);
@import url(the-quick-start.css);
@import url(footer.css);

/* 好不体面的个解法 */
@media (max-width: 1400px) {
    .gg, .hh {
        display: none;
    }
}

@media (max-width: 1200px) {
    .ff, .gg, .hh {
        display: none;
    }
}

@media (max-width: 1000px) {
    .ee, .ff, .gg, .hh {
        display: none;
    }
}

@media (max-width: 800px) {
    .dd, .ee, .ff, .gg, .hh {
        display: none;
    }
}

@media (max-width: 600px) {
    .cc, .ee, .ff, .gg, .hh {
        display: none;
    }
}
/* 真的不能接受，好丑 */

@media (max-width: 1240px) {
    .card-mwa {
        height: 284px;
        margin-bottom: 16px;
        padding: 33.5px 3.9vw;
        width: calc(50% - 16px);
    }

    .wrapper-card {
        /* height: 53.2vw; */
        margin-bottom: 0;
        padding: 33.5px 3.9vw;
        width: 31vw;
    }

    .single-img-box .single-img {
        max-width: 100%;
    }
}

@media (min-width: 966px) and (max-width: 1300px) {
    .main-feature {
        padding: 108px 43px 0;
    }

    .list-card {
        flex: 1 1 48%;
        max-width: 48%;
    }

    .feature-layout {
        padding: 0 40px;
    }
} 

@media (max-width: 1100px) {
    .tree-flow-container {
        height: auto;
        overflow: visible;
    }

    .card-flow {
        margin-top: 20px;
        padding: 3.5vw 2.3vw;
        position: static;
        width: 100%;
    }

    .title-flow {
        font-size: 26px;
    }

    .icon-flow {
        height: calc(100% - 7vw);
        width: calc(100% - 4.6vw);
    }
}

@media (max-width: 996px) {
    .nav-item, .toggle-switch-2 {
        display: none;
    }
    
    .nav-toggle {
        display: inherit;
    }

    .short-cut-icon {
        display: none;
    }

    .search-bar-input {
        width: 9rem;
    }

    /* banner */
    .hero {
        padding-left: 0;
        padding-right: 0;
    }

    .banner {
        align-items: center;
        background-image: url(https://lf3-static.bytednsdoc.com/obj/eden-cn/aphqeh7uhohpquloj/modern-js/banner-mobile-bg.png);
        padding: 2rem;
    }

    .banner-logo {
        width: 70vw;
    }

    .banner-title {
        font-size: 8vw;
    }

    .button-main-three {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
        width: 65%;
    }

    .start-enter, .button-doc {
        width: 100%;
    }

    .button-doc {
        margin-top: 42px;
        margin-left: 0;
    }

    .main-feature {
        padding: 70px 21.5px 0px;
    }

    .background-modern {
        display: none;
    }

    .list-feature {
        flex-direction: column;
        margin-left: 0;
    }

    .list-card {
        flex: none;
        height: 70px;
        margin: 0 0 12px;
        padding: 0 31px;
        width: 100%;
        max-width: none;
    }

    .feature-layout {
        display: flex;
        margin-top: 41px;
        padding: 0 21.5px;
    }

    .single-img {
        max-width: 100%;
    } 

    .quick-start {
        display: none;
    }

    .the-footer {
        padding: 2rem 0;
    }

    .row .col.col.col {
        --ifm-col-width: 100%;
        flex-basis: var(--ifm-col-width);
        margin-left: 0;
    }

    .footer-col {
        margin-bottom: 3rem;
    }

    .footer-item-link {
        display: block;
    }
}

@media (max-width: 860px) {
    .card-intro-project {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .descr-title-content {
        max-width: 100%;
        width: 100%;
    }

    .title-describe {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .see-details {
        display: none;
    }


    .pic-window {
        max-width: 100%;
        width: 100%;
        min-height: auto;
        min-width: auto;
    }
}


@media (max-width: 700px) {
    .background-modern {
        font-size: 2.48vw;
    }
    
    .feature-title {
        background-size: 51.6vw 4.51vw;
    }

    .title-feature {
        font-size: 4.96vw;
        padding-top: 13.5px;
    }

    .card-mwa {
        height: 34vw;
        margin-bottom: 16px;
        padding: 33.5px 3.9vw;
        width: calc(50% - 16px);
    }

    .wrapper-card {
        height: 53.2vw;
        margin-bottom: 0;
        padding: 33.5px 3.9vw;
        width: 52vw;
    }

    .single-img {
        max-width: 100%;
    } 

    .single-img-box .single-img {
        max-width: 100%;
    }

    .icon-title {
        font-size: 16px;
        margin-top: 15px;
    }

    .section-feature-title {
        font-size: 4vw;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .icon-card {
        height: 20px;
        width: 20px;
    }

}

@media (max-width: 576px) {
    .search-bar-input {
        width: 2rem;
    }

    .left-card {
        margin-left: -34px;
    }
}

/* 又是一些不太体面的解法…… */
@media (max-width: 1098px) {

    .timeline-flow {
        display: none;
    }

    .left-dot-state{
        display: none;
    }

    .right-dot-state {
        display: none;
    }

    .card-flow {
        margin-top: 20px;
        padding: 3.5vw 2.3vw;
        position: static;
        width: 100%;
    }

    .media-flow-card-style-1 {
        top: calc(10px + 0vw);
    }

    .media-flow-card-style-2 {
        top: calc(10px + 0vw);
    }

    .media-flow-card-style-3 {
        top: calc(10px + 0vw);
    }

    .media-flow-card-style-4 {
        top: calc(10px + 0vw);
    }

    .media-flow-card-style-5 {
        top: calc(10px + 0vw);
    }

    .media-flow-card-style-6 {
        top: calc(10px + 0vw);
    }

    .media-flow-card-style-7 {
        top: calc(10px + 0vw);
    }
}